/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;

  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  max-width: 720px;
  margin: auto;
  padding: 0 20px;

  // Positioning context for the mobile navigation icon
  position: relative;

  #logo {
    display: flex;
    align-items: center;

    img {
      border: 2.5px solid $primary-color;
      border-radius: 50%;
      margin-right: 5px;
      width: 35px;
      height: 35px;
    }
  }
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  display: flex;
  align-items: center;

  & {
    color: $primary-color;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.home {
  max-width: 720px;
  padding: 0 20px;
  margin: auto;
}

/**
 * Site footer
 */
 footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: $secondary-color;
  color: var(--primary);
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
  width: 100%;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

   li {
    margin-bottom: $spacing-unit;
    background-color: $primary-color;
    padding: 15px;
    border-radius: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    align-items: center;
    height: 200px;

    @include media-query($on-palm) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      gap: 10px;
      height: auto;
      padding: 0;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;

      @include media-query($on-palm) {
        height: 200px;
        padding: 3px;
        box-sizing: border-box;
        border-radius: 20px;
      }
    }

    .post-info {
      
      h3 {
        @include relative-font-size(1.5);
        font-weight: 600;
        margin: 0px 20px;
        margin-bottom: 20px;
        position: relative;
        
        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -10px;
          width: 0;
          height: 2px;
          background: $secondary-color;
          opacity: 0;
          transition: .2s;
        }

        &:hover:after {
          width: 100%;
          opacity: 1;
          
          @include media-query($on-palm) {
            width: 0;
            opacity: 0;
          }
        }
      }

      span {
        margin: 0 20px;
      }

    }
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $secondary-color;
  max-width: 700px;
  margin: auto;
}

.post-link {
  display: block;
  color: $secondary-color;
  
  &:hover {
    color: $secondary-color;
  }

  @include media-query($on-laptop) {
    font-size: 22px;
  }
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  background-color: $primary-color;
  padding: 45px;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, $primary-color 30%, rgba(255, 251, 0, 0) 100%);
    // opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  @include media-query($on-laptop) {
    padding: 45px 20px;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 720px;
    padding: 20px;
    margin: auto;

    .post-meta {
      margin: 0;
    }
  }
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 600;
  max-width: 500px;
  color: $secondary-color;

  @include media-query($on-laptop) {
    font-size: 28px;
    max-width: 400px;
    line-height: 1.2;
  }
}

.post-content {
  font-family: $blog-font-family;
  // letter-spacing: .4px;
  // word-spacing: 1px;
  margin-bottom: $spacing-unit;
  line-height: 2;
  font-size: 19px;
  @include media-query($on-palm) {
  font-size: 17px;
  }
  max-width: 720px;
  padding: 0 20px;
  margin: auto;

  a:hover {
    text-decoration: underline;
  }

  li::marker {
    font-weight: bold;
    color: $primary-color;
  }

  h1, h2, h3, h4, h5, h6, strong {
    margin: 35px 0;
    font-weight: bold;
    color: $primary-color;
    line-height: 1.7;
  }

  h2 {
    @include relative-font-size(2);
  }

  h3 {
    @include relative-font-size(1.625);
  }

  h4 {
    @include relative-font-size(1.25);
  }
}